body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  height: 100%;
  overflow: hidden;
  display: flex;
  padding: 20px;
  background-color: #e0e0e0;
}
.main-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #e0e0e0;
}
.MuiSlider-root {
  color: black !important;
}
.MuiFab-root{
  position: absolute !important;
  right: 20px !important;
  bottom: 20px !important;
}
.MuiTab-root {
  text-transform: none !important;
}
.MuiSlider-colorPrimary {
  color: black;
  width: 120px !important;
}
.MuiSlider-valueLabel span span {
  transform: rotate(225deg);
}
.MuiSlider-root.Mui-disabled {
  color: #bdbdbd !important;
}
.MuiIconButton-root {
  color: black !important;
}
.MuiCardContent-root {
  display: flex;
}
#input-label {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 6px 16px;
  align-items: center;
}
.result{
  height: 100%;
  overflow: hidden;
  display: flex;
  background-color: #e0e0e0;
}
.input-menuitem {
  padding: 0 !important;
}
#input-label:hover {
  cursor: pointer;
}
#upload-button,
#restore-button {
  width: 100%;
  color: black;
  margin: 10px 0;
  background-color: white;
}
#image {
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
  max-height: 600px;
}
#fill-color {
  border: none;
  width: 99%;
  border-radius: 4px;

  background: none;
}
#result-image{
  max-width: 540px;
  min-width: 300px;
  min-height: 300px;
  max-height: 540px;
}
.result-content>.canvas-card{
  max-width: 550px !important;
  min-width: 550px !important;
  min-height: 550px !important;
  max-height: 550px !important;
}
.result-content>.canvas-card>.MuiCardContent-root{
  justify-content: center;
  align-items: center;
  height: 518px;
}
.canvas-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}
.graph-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.param-group {
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
a:focus {
  outline: none;
}
.canvas-card {
  max-width: 99%;
  max-height: 99%;
  overflow: hidden !important;
  margin: 10px;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-row {
  display: flex;
}
.MuiListItemIcon-root {
  color: black !important;
}
.navbar-main {
  justify-content: flex-end;
}
.navbar-actions {
  display: flex;
  align-items: center;
}
.menu-btn {
  margin-left: 5px !important;
}
.k-label {
  margin-right: 10px !important;
}
.clusterize-btn {
  margin: 0 10px !important;
  font-weight: 600 !important;
}
.threshold-input {
  max-width: 100px !important;
  padding: 0 10px !important;
}
.threshold-wrapper {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.MuiSlider-thumb {
  transform: rotate(180deg);
}
.MuiSlider-valueLabel span span span {
  color: white !important;
}
